*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    
    margin:auto;
    width:22%;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;

}
.emptybox{
    
    height:150px;
    background-color: #5681f6;
}
.textBox{
  position: relative;
}
.img{
    height:30px ;
    width: 60px;
    
}
.btn{
   height:40px ;
   width: 120px;
   border-radius:30px ;
   color: #f5f4f4;
   background-color:  #688ff9;
   border: none;
   font-size: medium;
}
.align{ 
   
    text-align: center;
}
.flexbox{
    height: 50px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.border{
    display: flex;
    justify-content: center;
    border-right: 1px solid gray;
}
.inline{
   padding-left: 5px;
}
.shareImg{
    width: 20px;
}
.icons i{
    color: #f5f4f4;
   font-size: 20px;
 padding: 5px;
   height: 40px;
   width: 40px;
   display: grid;
   place-content: center;
   
    border-radius: 50%;
}
.icons{
    gap: 5px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
.profilecontainer{
    border: 5px solid #5681f6;
    border-radius: 50%;
    display: inline-block;
    height: 160px;
    width: 160px;
    margin-top: -80px;
}
.profileBox{
    background-image: url(../image/images.jpeg);
    background-position: top;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: brown;
    margin: 0 auto;
   
    border:5px solid white;
}

